body {
    background-image: url("https://i.imgur.com/jc5tCHt.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.header {
    text-align: center;
    margin-top: 10%;
}

.select-answer-banner::after {
    content: "Please Select Answer First";
    color: red;
}

.do-you {
    border: solid;
    width: 390px;
    border-color: black;
    margin-left: 38%;
    padding-right: 10px;
    background-color: lightgray;
    color: black
}

.container {
    text-align: center;
    width: 400px;
    background-color: lightgray;
    border-style: solid;
    padding-bottom: 15px;
    border-radius: 5%;
    padding-top: 15px;
    margin-left: 38%;
    margin-top: 2%
}

.controls {
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 3%;
}

.answer-btn {
    display: grid;
    grid-template-rows: repeat(2, auto);
    padding: 5px;
}

.btn {
    padding: 5px;
    margin: 5px;
    border: solid;
    border-radius: 5%
}

.btn:hover {
    background: black;
    color: white;
    border: solid;
}

.btn.correct {
    --hue: var(--hue.correct);
    background-color: lightgreen
}

.btn.wrong {
    --hue: var(--hue.wrong);
    background-color: red
}

.quiz-bar {
    border-radius: 5%;
    float: left;
    width: 50%;
    margin-top: 3%;
}

.score {
    border-radius: 5%;
    float: right;
    width: 50%;
    margin-top: 3%
}

.quiz-progress {
    text-align: center;
    width: 150px;
    background-color: lightgray;
    float: left;
    border-style: solid;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    display: block;
    //margin-right: 20%;
    margin-left: 75%
}

.number-correct {
    text-align: center;
    width: 150px;
    background-color: lightgray;
    display: inline-block;
    border-style: solid;
    float: right;
    border-radius: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    margin-right: 67%;
    //margin-left: 20%
}

.start-btn {
    float: left;
    border: solid;
    border-radius: 5%
}

.submit-btn {
    float: initial;
    border: solid;
    border-radius: 5%
}

.restart-btn {
    float: initial;
    border: solid;
    border-radius: 5%
}

.next-btn {
    float: right;
    border: solid;
    border-radius: 5%
}

.start-btn:hover {
    background: black;
    color: white;
}

.next-btn:hover {
    background: black;
    color: white;
}

.hide {
    display: none
}

.result-box-correct {
    border: solid;
    margin-left: 20%;
    margin-right: 20%;
    background-color: green
}

.result-box-wrong {
    border: solid;
    margin-left: 20%;
    margin-right: 20%;
    background-color: red
}
